/* Color setting for admin */
header,
nav a,
nav div,
section,
footer {
    background-color: rgb(59, 59, 59);
}

section {
    border-color: rgb(20, 20, 20);
}

nav .dropdown:hover,
nav div:focus {
    background-color: rgb(44, 44, 44);
}

nav a:active,
nav div:active {
    background-color: rgb(44, 44, 44);
    outline: none;
    box-shadow: inset 1px 1px 10px rgb(20, 20, 20),
        inset -1px -1px 10px rgb(20, 20, 20);
}

.dropdown-content {
    background-color: rgb(59, 59, 59);
    border: 2px solid rgb(34, 34, 34);
}

main {
    background-color: rgb(214, 214, 214);
}